<% provide(:title ,'Login') %>
<div class="container-fluid vcenter">
    <div class="row">
        <div class="col-sm-4 col-sm-offset-4">
            <div class="panel panel-default">
                <div class="panel-heading"> <strong class="">Cook Master Login</strong>

                </div>
                <div class="panel-body">

                    <form class="form-horizontal" role="form">
                    <%= form_for(:session, url: sessions_path) do |f| %>
                        <div class="form-group">
                        <%= f.label :email , class: "col-sm-3 control-label" %>                           
                            <div class="col-sm-9">
                               <%= f.text_field :email, class: "form-control" , placeholder: "enter your email" %>
                            </div>
                        </div>
                            <div class="form-group">
                        <%= f.label :Password , class: "col-sm-3 control-label" , type: "password" %>                           
                            <div class="col-sm-9">
                               <%= f.password_field :password, class: "form-control" , placeholder: "enter your password" %>
                            </div>
                        </div>

                     
          <!--              <div class="form-group">
                <div class="col-sm-offset-3 col-sm-9">
                  <div class="checkbox">
                    <label class="">
                      <input class="" type="checkbox">Remember me</label>
                  </div>
                </div>
              </div>
              -->
   
                        <div class="form-group last">
                            <div class="col-sm-offset-3 col-sm-9">
                                <button type="submit" class="btn btn-success btn-sm">Sign in</button>
                                <%= link_to "Sign up now!", signup_path, class: "btn btn-default btn-sm" %>
                                
                            </div>
                          
                        </div>
                        <% end %>
                    </form>
                   
                </div>
                  <div class="panel-footer"> 
                       <p style="margin-left:25%">New user? <%= link_to "Sign up now!", signup_path %></p>
                     </div>
                
            </div>
        </div>
    </div>
</div>