<div class="login-screen">
          <div class="login-icon">
           <i class="fa fa-codepen fa-5x"></i>
            <h4>Welcome to <small>Cook Master</small></h4>
          </div>

          <div class="login-form">
          <%= form_for(:session, url: sessions_path) do |f| %>
            <div class="form-group">
             <%= f.text_field :email, :id => "login-name" , class: "form-control login-field" , placeholder: "enter your email" %>
              
              <label for="login-name" class="login-field-icon fui-user"></label>
            </div>

            <div class="form-group">
             <%= f.password_field :password, :id => "login-pass" ,class: "form-control login-field" , placeholder: "enter your password" %>
             
              <label for="login-pass" class="login-field-icon fui-lock"></label>
            </div>
           
             <%= f.submit "Sign in", class: "btn btn-primary btn-lg btn-block" %>
           
            <div class="panel-footer"> 
                       <p style="margin-left:25%">New user? <%= link_to "Sign up now!", signup_path %></p>
                     </div>
            <% end %>
          </div>
        </div>