<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @cookbook.name %>
  <div class="span8">
	<% if @cookbook.recipes.any? %>
	<h3>Recipes </h3>
	<ol class="recipes">
	<%= render @recipes %>
	</ol>
	
	<% end %>
	</div>

  <h1>testing </h1>
  
  

</p><%= link_to 'Edit', edit_cookbook_path(@cookbook) %> | <%= link_to 'Create Recipe', new_cookbook_recipe_path(@cookbook) %> 	|	
<%= link_to 'Back', cookbooks_path %>